{%load static%}
<!DOCTYPE HTML>
<head>
<title>Learning System</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{%static 'style.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link href="{%static 'nav.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link href="{%static 'courses.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link href="{%static 'form.css'%}" rel="stylesheet" type="text/css" media="all"/>
<link href="{%static 'bootstrap-icons.css'%}" rel="stylesheet">




<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{%static 'jquery.js'%}"></script>
<script type="text/javascript" src="{%static 'login.js'%}"></script>
<script type="text/javascript" src="{%static 'Chart.js'%}"></script>
 <script type="text/javascript" src="{%static 'jquery.easing.js'%}"></script>
 <script type="text/javascript" src="{%static 'jquery.ulslide.js'%}"></script>
 


 <!----Calender -------->
  <link rel="stylesheet" href="css/clndr.css" type="text/css" />
  <script src="js/underscore-min.js"></script>
  <script src= "js/moment-2.2.1.js"></script>
  <script src="js/clndr.js"></script>
  <script src="js/site.js"></script>

  <!----End Calender -------->
</head>
<body>
    {%block content %}
    


    {%endblock%}
    
    
    <script type="text/javascript" src="{%static 'courses.js'%}"></script>
    <script src="{%static 'main.js'%}"></script>
</body>