{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}

	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	       <div class="course_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Menu Box</h3>
	    		 	   <div class="menu_box_list">
				      		<ul>
						  		<li><a href="{%url 'index'%}" class="messages"><span>Home</span><div class="clear"></div></a></li>
						  		<li class="active"><a href="{%url 'student_dashboard'%}" class="invites"><span>My Courses </span><div class="clear"></div></a></li>
						  		<li><a href="#" class="events"><span>Certification</span><div class="clear"></div></a></li>
						  		<!-- <li><a href="#" class="account_settings"><span>Account Settings</span></a></li>
						  		<li><a href="#" class="statistics"><span>Statistics</span></a></li>						  	 -->
				    		</ul>
				      </div>
	    		 </div>
	    		
	  		</div> 

<div class="course_middle">


	
	
    <i class="mobile-nav-toggle d-xl-none bi bi-list" style="display: none;"></i>
                 <!-- Faq Section -->
    <section id="faq" class="faq section">
  
		<div class="container" >
  
		  <div class="row justify-content-center">
  
			<div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">
  
			  <div class="faq-container">
  
				<div class="faq-item faq-active">
					<h3>CS101 Introduction to Computer Programming using C language</h3>
					<div class="faq-content">
					  <p>Course Syllabus
						  Welcome to CS102: Introduction to Computer Science II
						  Specific information about this course and its requirements can be found below. For more general information about taking Saylor Academy courses, including information about Community and Academic Codes of Conduct, please read the Student Handbook.
						  
						   
						  <br>
						  Course Description
						  Explore this detailed survey of computing and programming, with an emphasis on understanding object-orientation and the Java and C++ computer programming languages. We will use history, theory, and practice to deliver lessons that prepare you for a career in computer science.
						  <br>
						  <br>
						  
						  <strong>Course Description</strong>
						  This course is a continuation of CS101: Introduction to Computer Science I. It will introduce you to a number of more advanced Computer Science topics, laying a strong foundation for future study and achievement in the discipline. We will begin with a comparison between Java, the programming language used in the previous course, and C++, another popular, industry-standard programming language. We will then discuss the fundamental building blocks of Object-Oriented Programming, reviewing what we have already learned, while familiarizing ourselves with more advanced programming concepts. The remaining course units will be devoted to various topics, including the Standard Template Library, Containers, Exceptions, Recursion, Searching and Sorting, and generic programming. By the end of the class, you will have a solid understanding of Java and C++ programming, as well as a familiarity with the major issues that programmers routinely address in a professional setting.
						  <br>
						  <br>
						  This course includes the following units:
						  <br>
						  Unit 1: The Building Blocks of Object-Oriented Programming
						  Unit 2: C++ and Java Differences
						  Unit 3: C++ Standard Template Library
						  Unit 4: Java Container Library
						  Unit 5: Exceptions
						  Unit 6: Recursion
						  Unit 7: Searching and Sorting
						  <br>
						  <br>
						  
						  Course Learning Outcomes
						  Upon successful completion of this course, you will be able to:
						  <br>
						  <br>
						  explain the common computational elements for creating algorithms;
						  compare and contrast the features of Java and C++;
						  explain the importance of Java Containers and how their basic components are used;
						  explain the importance of the C++ Standard Template Library and how its basic components are used;
						  understand important common algorithms, such as sorting and search;
						  evaluate programs using run-time analysis;
						  explain the drawbacks and benefits of recursion; and
						  solve simple problems by applying computational elements, algorithms, containers, and templates in a programming process, including problem statement, algorithm design, program construction, and solution analysis.
						  Throughout this course, you will also see learning outcomes in each unit. You can use those learning outcomes to help organize your studies and gauge your progress.
						  
						  <br>
						  <br>
					  
						  
						  Course Materials
						  This course's primary learning materials are articles, lectures, and videos.
						  <br>
						  All course materials are free to access and can be found in each unit of the course. Pay close attention to the notes that accompany these course materials, as they will tell you what to focus on in each resource, and will help you to understand how the learning materials fit into the course as a whole. You can also see a list of all the learning materials in this course by clicking on Resources in the navigation bar.</p>
						  <br>
					
				  <a href="{%url 'student_dashboard'%}" style="width: 100px; padding: 5px; height: 30px; background-color: blueviolet; border-radius: 5px; text-align: center; color: aliceblue;">Start Now</a>
				  
					</div>
					
				  </div><!-- End Faq item-->
	
  
				<div class="faq-item">
				  <h3>CS102 Introduction to Java Programming</h3>
				  <div class="faq-content">
					<p>Course Syllabus
						Welcome to CS102: Introduction to Computer Science II
						Specific information about this course and its requirements can be found below. For more general information about taking Saylor Academy courses, including information about Community and Academic Codes of Conduct, please read the Student Handbook.
						
						 
						<br>
						Course Description
						Explore this detailed survey of computing and programming, with an emphasis on understanding object-orientation and the Java and C++ computer programming languages. We will use history, theory, and practice to deliver lessons that prepare you for a career in computer science.
						<br>
						<br>
						
						<strong>Course Description</strong>
						This course is a continuation of CS101: Introduction to Computer Science I. It will introduce you to a number of more advanced Computer Science topics, laying a strong foundation for future study and achievement in the discipline. We will begin with a comparison between Java, the programming language used in the previous course, and C++, another popular, industry-standard programming language. We will then discuss the fundamental building blocks of Object-Oriented Programming, reviewing what we have already learned, while familiarizing ourselves with more advanced programming concepts. The remaining course units will be devoted to various topics, including the Standard Template Library, Containers, Exceptions, Recursion, Searching and Sorting, and generic programming. By the end of the class, you will have a solid understanding of Java and C++ programming, as well as a familiarity with the major issues that programmers routinely address in a professional setting.
						<br>
						<br>
						This course includes the following units:
						<br>
						Unit 1: The Building Blocks of Object-Oriented Programming
						Unit 2: C++ and Java Differences
						Unit 3: C++ Standard Template Library
						Unit 4: Java Container Library
						Unit 5: Exceptions
						Unit 6: Recursion
						Unit 7: Searching and Sorting
						<br>
						<br>
						
						Course Learning Outcomes
						Upon successful completion of this course, you will be able to:
						<br>
						<br>
						explain the common computational elements for creating algorithms;
						compare and contrast the features of Java and C++;
						explain the importance of Java Containers and how their basic components are used;
						explain the importance of the C++ Standard Template Library and how its basic components are used;
						understand important common algorithms, such as sorting and search;
						evaluate programs using run-time analysis;
						explain the drawbacks and benefits of recursion; and
						solve simple problems by applying computational elements, algorithms, containers, and templates in a programming process, including problem statement, algorithm design, program construction, and solution analysis.
						Throughout this course, you will also see learning outcomes in each unit. You can use those learning outcomes to help organize your studies and gauge your progress.
						
						<br>
						<br>
					
						
						Course Materials
						This course's primary learning materials are articles, lectures, and videos.
						<br>
						All course materials are free to access and can be found in each unit of the course. Pay close attention to the notes that accompany these course materials, as they will tell you what to focus on in each resource, and will help you to understand how the learning materials fit into the course as a whole. You can also see a list of all the learning materials in this course by clicking on Resources in the navigation bar.</p>
					
				<a href="" style="width: 100px; padding: 5px; height: 30px; background-color: blueviolet; border-radius: 5px;">Start Now</a>
				
				  </div>
				  
				</div><!-- End Faq item-->
  
				<div class="faq-item">
					<h3>CS103 Introduction to Object-Oriented Programming with C++</h3>
					<div class="faq-content">
					  <p>Course Syllabus
						  Welcome to CS102: Introduction to Computer Science II
						  Specific information about this course and its requirements can be found below. For more general information about taking Saylor Academy courses, including information about Community and Academic Codes of Conduct, please read the Student Handbook.
						  
						   
						  <br>
						  Course Description
						  Explore this detailed survey of computing and programming, with an emphasis on understanding object-orientation and the Java and C++ computer programming languages. We will use history, theory, and practice to deliver lessons that prepare you for a career in computer science.
						  <br>
						  <br>
						  
						  <strong>Course Description</strong>
						  This course is a continuation of CS101: Introduction to Computer Science I. It will introduce you to a number of more advanced Computer Science topics, laying a strong foundation for future study and achievement in the discipline. We will begin with a comparison between Java, the programming language used in the previous course, and C++, another popular, industry-standard programming language. We will then discuss the fundamental building blocks of Object-Oriented Programming, reviewing what we have already learned, while familiarizing ourselves with more advanced programming concepts. The remaining course units will be devoted to various topics, including the Standard Template Library, Containers, Exceptions, Recursion, Searching and Sorting, and generic programming. By the end of the class, you will have a solid understanding of Java and C++ programming, as well as a familiarity with the major issues that programmers routinely address in a professional setting.
						  <br>
						  <br>
						  This course includes the following units:
						  <br>
						  Unit 1: The Building Blocks of Object-Oriented Programming
						  Unit 2: C++ and Java Differences
						  Unit 3: C++ Standard Template Library
						  Unit 4: Java Container Library
						  Unit 5: Exceptions
						  Unit 6: Recursion
						  Unit 7: Searching and Sorting
						  <br>
						  <br>
						  
						  Course Learning Outcomes
						  Upon successful completion of this course, you will be able to:
						  <br>
						  <br>
						  explain the common computational elements for creating algorithms;
						  compare and contrast the features of Java and C++;
						  explain the importance of Java Containers and how their basic components are used;
						  explain the importance of the C++ Standard Template Library and how its basic components are used;
						  understand important common algorithms, such as sorting and search;
						  evaluate programs using run-time analysis;
						  explain the drawbacks and benefits of recursion; and
						  solve simple problems by applying computational elements, algorithms, containers, and templates in a programming process, including problem statement, algorithm design, program construction, and solution analysis.
						  Throughout this course, you will also see learning outcomes in each unit. You can use those learning outcomes to help organize your studies and gauge your progress.
						  
						  <br>
						  <br>
					  
						  
						  Course Materials
						  This course's primary learning materials are articles, lectures, and videos.
						  <br>
						  All course materials are free to access and can be found in each unit of the course. Pay close attention to the notes that accompany these course materials, as they will tell you what to focus on in each resource, and will help you to understand how the learning materials fit into the course as a whole. You can also see a list of all the learning materials in this course by clicking on Resources in the navigation bar.</p>
					  
				  <a href="" style="width: 100px; padding: 5px; height: 30px; background-color: blueviolet; border-radius: 5px;">Start Now</a>
				  
					</div>
					
				  </div><!-- End Faq item-->
	
				  
			
  
				<div class="faq-item">
					<h3>CS104 Introduction to Python Programming Essentials</h3>
					<div class="faq-content">
					  <p>Course Syllabus
						  Welcome to CS102: Introduction to Computer Science II
						  Specific information about this course and its requirements can be found below. For more general information about taking Saylor Academy courses, including information about Community and Academic Codes of Conduct, please read the Student Handbook.
						  
						   
						  <br>
						  Course Description
						  Explore this detailed survey of computing and programming, with an emphasis on understanding object-orientation and the Java and C++ computer programming languages. We will use history, theory, and practice to deliver lessons that prepare you for a career in computer science.
						  <br>
						  <br>
						  
						  <strong>Course Description</strong>
						  This course is a continuation of CS101: Introduction to Computer Science I. It will introduce you to a number of more advanced Computer Science topics, laying a strong foundation for future study and achievement in the discipline. We will begin with a comparison between Java, the programming language used in the previous course, and C++, another popular, industry-standard programming language. We will then discuss the fundamental building blocks of Object-Oriented Programming, reviewing what we have already learned, while familiarizing ourselves with more advanced programming concepts. The remaining course units will be devoted to various topics, including the Standard Template Library, Containers, Exceptions, Recursion, Searching and Sorting, and generic programming. By the end of the class, you will have a solid understanding of Java and C++ programming, as well as a familiarity with the major issues that programmers routinely address in a professional setting.
						  <br>
						  <br>
						  This course includes the following units:
						  <br>
						  Unit 1: The Building Blocks of Object-Oriented Programming
						  Unit 2: C++ and Java Differences
						  Unit 3: C++ Standard Template Library
						  Unit 4: Java Container Library
						  Unit 5: Exceptions
						  Unit 6: Recursion
						  Unit 7: Searching and Sorting
						  <br>
						  <br>
						  
						  Course Learning Outcomes
						  Upon successful completion of this course, you will be able to:
						  <br>
						  <br>
						  explain the common computational elements for creating algorithms;
						  compare and contrast the features of Java and C++;
						  explain the importance of Java Containers and how their basic components are used;
						  explain the importance of the C++ Standard Template Library and how its basic components are used;
						  understand important common algorithms, such as sorting and search;
						  evaluate programs using run-time analysis;
						  explain the drawbacks and benefits of recursion; and
						  solve simple problems by applying computational elements, algorithms, containers, and templates in a programming process, including problem statement, algorithm design, program construction, and solution analysis.
						  Throughout this course, you will also see learning outcomes in each unit. You can use those learning outcomes to help organize your studies and gauge your progress.
						  
						  <br>
						  <br>
					  
						  
						  Course Materials
						  This course's primary learning materials are articles, lectures, and videos.
						  <br>
						  All course materials are free to access and can be found in each unit of the course. Pay close attention to the notes that accompany these course materials, as they will tell you what to focus on in each resource, and will help you to understand how the learning materials fit into the course as a whole. You can also see a list of all the learning materials in this course by clicking on Resources in the navigation bar.</p>
					  
				  <a href="" style="width: 100px; padding: 5px; height: 30px; background-color: blueviolet; border-radius: 5px;">Start Now</a>
				  
					</div>
					
				</div><!-- End Faq item-->
	
  
				
				
			  </div>
  
			</div><!-- End Faq Column-->
  
		  </div>
  
		</div>
  
	  </section><!-- /Faq Section --> 
		   <!-- Scroll Top -->
  <a href="#" style="display: none;" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
     
</div>
			
           
    	<div class="clear"></div>
 	 </div>
    </div>

	{% include 'footer.html'%}
{%endblock%}

