{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}

	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	       <div class="course_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Menu Box</h3>
	    		 	   <div class="menu_box_list">
				      		<ul>
						  		<li><a href="{%url 'index'%}" class="messages"><span>Home</span><div class="clear"></div></a></li>
						  		<li class="active"><a href="{%url 'student_dashboard'%}" class="invites"><span>My Courses </span><div class="clear"></div></a></li>
						  		<li><a href="#" class="events"><span>Certification</span><div class="clear"></div></a></li>
						  		<!-- <li><a href="#" class="account_settings"><span>Account Settings</span></a></li>
						  		<li><a href="#" class="statistics"><span>Statistics</span></a></li>						  	 -->
				    		</ul>
				      </div>
	    		 </div>
	    		
	  		</div> 

<div class="course_middle">
	<div class="accordion-container">
        <div class="accordion-item">
            <button class="accordion-btn"> <img src="{% static 'images/course.png'%}" alt="" style="height: 20px; width: 20;" />CS101 Introduction to computer programming using C language</button>
            <div class="accordion-content">
				<h1>Introduction</h1>
                <p>This course provides a comprehensive introduction to the fundamentals of computer programming using the C language. Designed for beginners, it focuses on the core concepts of programming, including problem-solving techniques, logic building, and the development of efficient algorithms. The C language, known for its performance and close-to-hardware operations, serves as an excellent foundation for learning structured programming and basic software development.</p>
				<h1>Topics covered</h1>
				<ul>
					<li>Introduction to Programming and C Language Basics</li>
					<li>Control Structures</li>
					<li>Functions</li>
					<li>Arrays and Strings</li>
					<li>Pointers and Memory Management</li>
					<li>Structures and Unions</li>
					<li>File Handling</li>
					<li>Introduction to Data Structures</li>
				</ul>
				<h1>Course Learning Outcomes</h1>
				<p>By the end of this course, students will be able to:</p>
				<ul>
					<li>Understand the basic structure and syntax of C programs and apply these to write simple programs.</li>
					<li>Utilize control structures to make decisions and manage program flow efficiently.</li>
					<li>Develop modular programs using functions and understand parameter passing.</li>
					<li>Work with arrays, pointers, and dynamic memory allocation to manage data efficiently.</li>
					<li>Apply structures to create complex data types and manage data in files.</li>
					<li>Understand and implement basic data structures and algorithms in C.</li>
					<li>Develop problem-solving skills by creating efficient and scalable algorithms using the C language.</li>
					
				</ul>
				<h1>Technical Requirements</h1>
				<p>
					This course is delivered entirely online. You will be required to have access to a computer or web-capable mobile device and have consistent access to the internet to either view or download the necessary course resources and to attempt any auto-graded course assessments and the final exam.
					<br>
					To access the full course, including assessments and the final exam, you will need to be logged into your Learning System account and enrolled in the course. If you do not already have an account, you may create one for free here. Although you can access some of the course without logging in to your account, you should log in to maximize your course experience. For example, you cannot take assessments or track your progress unless you are logged in.
					<br>For additional guidance, check out our  <a href="">FAQ</a>. section </p>
					<br>
				<a href="{%url 'student_dashboard'%}" style="width: 80px; height: 40px;  color: aliceblue; margin-top: 5px; padding: 20px; border-radius: 6px; background-color: blue;">Start now</a>
            </div>
        </div>

        
		<div class="accordion-item">
            <button class="accordion-btn"> <img src="{% static 'images/course.png'%}" alt="" style="height: 20px; width: 20;" /> CS102 Introduction to Python programming essentials</button>
			<div class="accordion-content">
				<h1>Introduction</h1>
                <p>This course provides a foundational understanding of Python, one of the most widely used and versatile programming languages today. Python’s simple syntax and readability make it an ideal choice for beginners while being powerful enough for advanced developers to build complex applications. The course covers the core concepts of Python programming, from basic syntax and data structures to more advanced topics such as functions, file handling, and object-oriented programming. Students will also be introduced to libraries that enhance Python’s capabilities for problem-solving and data manipulation.</p>
				<h1>Topics covered</h1>
				<ul>
					<li>Introduction to Python and Environment Setup</li>
					<li>Python Basics</li>
					<li>Control Structures</li>
					<li>Functions and Modules</li>
					<li>Data Structures in Python</li>
					<li>File Handling</li>
					<li>Object-Oriented Programming (OOP) in Python</li>
					<li>Introduction to Libraries and Packages</li>
				</ul>
				<h1>Course Learning Outcomes</h1>
				<p>By the end of this course, students will be able to:</p>
				<ul>
					<li>Write and execute basic Python programs using correct syntax and structure.</li>
					<li>Implement decision-making and loop structures to solve problems.</li>
					<li>Develop modular code using functions and organize programs effectively by leveraging Python’s built-in modules.</li>
					<li>Work with Python’s core data structures (lists, dictionaries, tuples, sets) to store and manipulate data.</li>
					<li>Read from and write to files, handle errors, and manage exceptions in Python programs.</li>
					<li>Understand the fundamentals of object-oriented programming and apply these concepts to create classes and objects.</li>
					<li>xplore Python’s libraries and packages to extend functionality, making Python a versatile tool for various applications such as data manipulation, automation, and problem-solving.</li>
				
				</ul>
				<h1>Technical Requirements</h1>
				<p>
					This course is delivered entirely online. You will be required to have access to a computer or web-capable mobile device and have consistent access to the internet to either view or download the necessary course resources and to attempt any auto-graded course assessments and the final exam.
					<br>
					To access the full course, including assessments and the final exam, you will need to be logged into your Learning System account and enrolled in the course. If you do not already have an account, you may create one for free here. Although you can access some of the course without logging in to your account, you should log in to maximize your course experience. For example, you cannot take assessments or track your progress unless you are logged in.
					<br>For additional guidance, check out our  <a href="">FAQ</a>. section </p>
					<br>
				<a href="#" onclick="Learning_system()" style="width: 80px; height: 40px;  color: aliceblue; margin-top: 5px; padding: 20px; border-radius: 6px; background-color: blue;">Start now</a>
            </div>
        </div>

        <div class="accordion-item">
            <button class="accordion-btn"><img src="{% static 'images/course.png'%}" alt="" style="height: 20px; width: 20;" /> CS103 Introduction to object oriented programming with C++</button>
			<div class="accordion-content">
				<h1>Introduction</h1>
                <p>This course introduces students to Object-Oriented Programming (OOP) concepts using the C++ programming language. Building on the foundations of procedural programming, this course focuses on creating modular, reusable, and efficient code using the OOP paradigm. C++ serves as an ideal language to explore key OOP principles such as encapsulation, inheritance, and polymorphism, while also leveraging powerful features like operator overloading and templates.</p>
				<h1>Topics covered</h1>
				<ul>
					<li>Introduction to C++ and OOP Concepts</li>
					<li>Classes and Objects</li>
					<li>Constructors and Destructors</li>
					<li>Inheritance</li>
					<li>Polymorphism</li>
					<li>Encapsulation and Abstraction</li>
					<li>Friend Functions and Operator Overloading</li>
					<li>Templates and Exception Handling</li>
					<li>File Handling in C++</li>
					<li>Introduction to Standard Template Library (STL)</li>

				</ul>
				<h1>Course Learning Outcomes</h1>
				<p>By the end of this course, students will be able to:</p>
				<ul>
					<li>Understand and apply object-oriented programming principles such as encapsulation, inheritance, and polymorphism in C++.</li>
					<li>Define and manipulate classes and objects, utilizing access control and constructors effectively.</li>
					<li>Implement and understand various types of inheritance and the role of virtual functions in achieving polymorphism.</li>
					<li>Overload operators and functions to customize object behavior and write more efficient code.</li>
					<li>Apply templates and exception handling to write generic and robust code.</li>
					<li>Perform file handling in C++ using object-oriented principles for persistent data storage.</li>
					<li>Use the Standard Template Library (STL) to write efficient, reusable, and modular C++ programs.</li>
					

				</ul>
				<h1>Technical Requirements</h1>
				<p>
					This course is delivered entirely online. You will be required to have access to a computer or web-capable mobile device and have consistent access to the internet to either view or download the necessary course resources and to attempt any auto-graded course assessments and the final exam.
					<br>
					To access the full course, including assessments and the final exam, you will need to be logged into your Learning System account and enrolled in the course. If you do not already have an account, you may create one for free here. Although you can access some of the course without logging in to your account, you should log in to maximize your course experience. For example, you cannot take assessments or track your progress unless you are logged in.
					<br>For additional guidance, check out our  <a href="">FAQ</a>. section </p>
					<br>
				<a href="#" onclick="Learning_system()" style="width: 80px; height: 40px;  color: aliceblue; margin-top: 5px; padding: 20px; border-radius: 6px; background-color: blue;">Start now</a>
            </div>
        </div>
    </div>
		       

	
	
      
</div>
			
           
    	<div class="clear"></div>
 	 </div>
    </div>
<script>
	function Learning_system(){
		alert("This course is currently not available")
	}
</script>
	{% include 'footer.html'%}
{%endblock%}

