{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}
	 		 
 <div class="column_middle">
            
           
	<main class="welcome-section">
		<div class="image-section">
		  <img src="{% static 'images/pens.png'%}" alt="Students in front of the school">
		</div>
		<div class="text-section">
		  <h1>Welcome to C_Learning System</h1>
		  <p>
			C_Learning System is an educational platform designed and dedicated to introducing beginners to the exciting world of computer science.
			<br>
			Our mission is to provide a friendly and engaging environment where learners can explore the foundations of programming, develop problem-solving skills, and unlock their creative potential in technology.
			
		</p>
		  <a href="{%url 'courses'%}" class="learn-more-btn">Explore Courses</a>
		</div>
	  </main>
    	    
  
 	</div>
    </div>
	{% include 'footer.html'%}
{%endblock%}

