<!-- django_project/main/templates/main/includes/messaging.html -->
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            
              <p style="text-align: center; color: #34e906;">  {{ message|safe|escape }}</p>
           
        {% elif message.tags == 'error' %}
        <p style="text-align: center; color: #ff0606;">  {{ message|safe }}</p>
                {{ message|safe }}
        
        {% elif message.tags == 'info' %}
            <p style="text-align: center; color: #0630e9;">  {{ message|safe|escape }}</p>
                
           
        {% elif message.tags == 'warning' %}
            <p style="text-align: center; color: #f4f803;">  {{ message|safe|escape }}</p>
                
            
        {% endif %}
    {% endfor %}
{% endif %}

