{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}
	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	       <div class="signin_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Menu Box</h3>
	    		 	   <div class="menu_box_list">
				      		<ul>
						  		<li><a href="#" class="messages"><span>Messages</span><label class="digits">24</label><div class="clear"></div></a></li>
						  		<li class="active"><a href="#" class="invites"><span>Invites </span><label class="digits active">3</label><div class="clear"></div></a></li>
						  		<li><a href="#" class="events"><span>Events</span><label class="digits">5</label><div class="clear"></div></a></li>
						  		<li><a href="#" class="account_settings"><span>Account Settings</span></a></li>
						  		<li><a href="#" class="statistics"><span>Statistics</span></a></li>						  	
				    		</ul>
				      </div>
	    		 </div>
	    		
	  		</div> 
	  		
            <div class="signin_middle">
                <div class="column_right_grid sign-in">
                    <div class="sign_in">
                      <h3>Sign in to your account</h3>
                       <form>
                           <span>
                            <i><img src="images/mail.png" alt="" /></i><input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
                            </span>
                        
                            <span>
                             <i><img src="images/lock.png" alt="" /></i>
                             <input type="password" placeholder="password">
                            </span>
                            <input type="submit" class="my-button" value="Sign In">
                        </form>
                          <h4><a href="{%url 'student_dashboard'%}">Forgot Password?</a><a href="{%url 'signup'%}">Create account</a></h4>				   
                        </div>
                        <div class="signin_facebook">
                           <p><a href="#">  <i> <img src="{%static 'images/google+.png'%}" alt="" /></i>Sign in with Google</a></p>
                     </div>
                  </div>
            	           
		        
		                    
		       
    	    </div>
    	    
           
    	<div class="clear"></div>
 	 </div>
    </div>
    {% include 'footer.html'%}
{%endblock%}

