{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}
	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	       <div class="signin_left">	          
	    		 <div class="menu_box">
	    		 	 <h3>Menu Box</h3>
	    		 	   <div class="menu_box_list">
				      		<ul>
						  		<li><a href="#" class="messages"><span>Messages</span><label class="digits">24</label><div class="clear"></div></a></li>
						  		<li class="active"><a href="#" class="invites"><span>Invites </span><label class="digits active">3</label><div class="clear"></div></a></li>
						  		<li><a href="#" class="events"><span>Events</span><label class="digits">5</label><div class="clear"></div></a></li>
						  		<li><a href="#" class="account_settings"><span>Account Settings</span></a></li>
						  		<li><a href="#" class="statistics"><span>Statistics</span></a></li>						  	
				    		</ul>
				      </div>
	    		 </div>
	    		
	  		</div> 
	  		
            <div class="signin_middle">
                
                <div class="bdyform">
                    
                    <div class="">
                        <div class="registration-container">
                            {%include 'message.html' %}
                            <div class="form-header">
                                <h2>Create an Account</h2>
                            </div>
                            <form method="post" class="registration-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    {{ form.username }}
                                </div>
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="form-group">
                                    <label for="id_password1">Password</label>
                                    {{ form.password1 }}
                                </div>
                                <div class="form-group">
                                    <label for="id_password2">Confirm Password</label>
                                    {{ form.password2 }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="submit-btn">Register</button>
                                </div>
                            </form>
                            <h4 style="text-align: center;"><a href="{%url 'signin'%}">Already have an account? Sign in</a></h4>	
                        </div>
                     
                      
                        			   
                    </div>
                    
                </div>
            </div>
    	    
           
    	<div class="clear"></div>
 	 </div>
    </div>
    {% include 'footer.html'%}
{%endblock%}




































<!-- <form>
    <span>
     <i><img src="images/mail.png" alt="" /></i><input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
     </span>
     <span>
         <i><img src="images/mail.png" alt="" /></i><input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
     </span>
     <span>
         <i><img src="images/mail.png" alt="" /></i><input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
     </span>
     <span>
         <i><img src="images/mail.png" alt="" /></i><input type="text" value="Enter your email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
     </span>
     <span>
      <i><img src="images/lock.png" alt="" /></i>
      <input type="password" placeholder="password">
     </span>
     <input type="submit" class="my-button" value="Sign In">
 </form> -->
