{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}

	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	       {% include 'student/student_sidebar.html'%}

<div class="course_middle">

	<div class="accordion-container">
        


        {% if courses %}
        {% for course in courses %}
        
        {% for topic in course.topics.all %}
        <div class="accordion-item">
            <button class="accordion-btn">{{ topic.name }}</button>
            <div class="accordion-content" id="topic{{ topic.id }}">
                <p>{{ topic.description }}</p>
				<a href="{%url 'c_compiler'%}">Try it Yourself</a> &nbsp;&nbsp;&nbsp; <a href=""> Generate Code</a> &nbsp;&nbsp;&nbsp;<a href="">Mark as Complete</a>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

        {% endif %}












		
    </div>
		       
</div>
			
           
    	<div class="clear"></div>
 	 </div>
    </div>
	{% include 'footer.html'%}
{%endblock%}

