{%extends 'base.html'%}
{%load static%}
{% block content%}
{%include 'navbar.html'%}

	<div class="main">  
		<!-- removed wrap -->
	    <div class="">  		 
	   
        {%include 'student/student_sidebar.html'%}

<div class="course_middle">
	<div class="column_middle_grid1">
		<div class="profile_picture">
		   <a href=""><img src="{%static 'images/student.jfif'%}" alt="" />	</a>		         
		   <div class="profile_picture_name">
			   <h2>{{user.username}}</h2>
			   <p>{{user.email}}</p>
		   </div>
			<span><a href="#"> <img src="{%static 'images/follow_user.png'%}" alt="" /> </a></span>
		 </div>
		  <div class="articles_list">
				<ul>
					<li><a href="{%url 'student_change_password'%}" class="red"> <img src="{%static 'images/lock.png'%}" alt="" /> Change Password</a></li>
					<li><a href="#" class="purple"> <img src="{%static 'images/views.png'%}" alt="" /> 841</a></li>
					<li><a href="#" class="yellow"> <img src="{%static 'images/likes.png'%}" alt="" /> 49</a></li>
					<div class="clear"></div>	
				</ul>
		  </div>
	  </div>
		       
    	    </div>
			
           
    	<div class="clear"></div>
 	 </div>
    </div>
	{% include 'footer.html'%}
{%endblock%}

