{%load static%}
<div class="course_left">	          
      <div class="menu_box">
             <h3>Menu Box</h3>
               <div class="menu_box_list">
                         <ul>
                                 <li><a href="#" class="messages"><span>Messages</span><div class="clear"></div></a></li>
                                 <li class="active"><a href="#" class="invites"><span>My Courses </span><div class="clear"></div></a></li>
                                 <li><a href="{%url 'student_progress'%}" class="events"><span>My Progress</span></a></li>
                                 <li><a href="{%url 'student_profile'%}" class="account_settings"><span>Profile</span></a></li>
                                 <li><a href="#" class="statistics"><span>Logout</span></a></li>						  	
                       </ul>
             </div>
      </div>
     
   </div> 


